<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>CookBook Home</title>
</head>
<body>
  <%- include('./partials/_navbar.ejs') %>

  <h1>Welcome to CookBook</h1>
  <% if(user) { %>
    <p>Hi <%= user.username %>, check out your pantry or explore our community!</p>
  <% } else { %>
    <p>Sign in or create an account to manage your pantry!</p>
  <% } %>
</body>
</html>
